<app-header [activeSection]="activeSection" (sectionChange)="selectSection($event)"></app-header>

<main class="container">
  @if (activeSection === 'about') {
    <section id="about" class="hero-section">
      <app-about></app-about>
    </section>
  }

  @if (activeSection === 'experience') {
    <section id="experience" class="content-card">
      <app-experience></app-experience>
    </section>
  }

  @if (activeSection === 'projects') {
    <section id="projects" class="content-card">
      <app-projects></app-projects>
    </section>
  }

  @if (activeSection === 'education') {
    <section id="education" class="content-card">
      <app-education></app-education>
    </section>
  }

  @if (activeSection === 'hobbies') {
    <section id="hobbies" class="content-card">
      <app-hobbies></app-hobbies>
    </section>
  }

  @if (activeSection === 'contact') {
    <section id="contact" class="content-card">
      <app-contact></app-contact>
    </section>
  }
</main>

<app-footer></app-footer>
